/* Fonte - import */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando o css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo da tela */

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url('../img/inicio.jpg');
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* Menu - header - nav */

header{
    width: 100%;
    height: 7vw;
    background: rgba(22, 22, 22, 0.2);
}

.menu_content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.logo{
    font-size: 18px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.menu_content .list_itens{
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu_content .list_itens a{
    text-decoration: none;
    color: white;
    padding: 15px;
    transform: 2ms ease-in;
    position: relative;
}

.menu_content .list_itens a:before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: white;
    transition: all 0.4s ease;
}

.menu_content .list_itens a:hover:before{
   width: 100%;
}

/* Centro */

main{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* textos conteudos */

.text_primary{
    width: 850px;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

/* (se caso quiser colocar um texto secundario)

.text_second{
    margin-bottom: 70px;
    font-size: 20px;
    color: rgb(164, 165, 165);
    text-transform: uppercase;
}
*/

.sobre{
    background-color: rgba(21, 21, 21, 1);
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tilt_text{
    width: 1400px;
    font-size: 25px;
    margin-bottom: 200px;
    text-align: left;
}

.content_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
    font-size: 18px;
    color: rgb(164, 165, 165);
}

.universidades{
    background-color: rgba(22, 22, 22, 1);
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}